#play-progress {
  width: 910px;
  margin-bottom: 20px;
  background-color: #28AADE;
  height: 36px;
  position: relative;
  border-radius: 20px;
}

#play-svg {
  border-radius: 20px;
}

#progress-bar {
  fill:#666;
}

#play-control {
  width:37px;
  height:36px;
  background:url("http://www.bloomberg.com/image/idAx.BJxL1Lc.png") 37px 0px;
  cursor: pointer;
  position: absolute;
}

#play-control.play {
  background:url("http://www.bloomberg.com/image/idAx.BJxL1Lc.png") 37px 0px;
}
#play-control.play:hover {
  background:url("http://www.bloomberg.com/image/idAx.BJxL1Lc.png") 0px 0px;
}
#play-control.pause {
  background:url("http://www.bloomberg.com/image/idAx.BJxL1Lc.png") 37px -36px;
}
#play-control.pause:hover {
  background:url("http://www.bloomberg.com/image/idAx.BJxL1Lc.png") 0px -36px;
}
#play-control.replay {
  background:url("http://www.bloomberg.com/image/idAx.BJxL1Lc.png") 37px -72px;
}
#play-control.replay:hover {
  background:url("http://www.bloomberg.com/image/idAx.BJxL1Lc.png") 0px -72px;
}

#scrubber {
  width:873px;
  height:36px;
  position:absolute;
  top:0;
  left:37px;
}

#display-data {
  font-family: "arial","helvetica";
  font-size: 60px;
  color:#666;
}